# Exploratory Data Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("UNR-IDD.csv")
data.head()

,Switch ID,Port Number,Received Packets,Received Bytes,Sent Bytes,Sent Packets,Port alive Duration (S),Packets Rx Dropped,Packets Tx Dropped,Packets Rx Errors,...,Unknown Load/Latest,Latest bytes counter,is_valid,Table ID,Active Flow Entries,Packets Looked Up,Packets Matched,Max Size,Label,Binary Label
0,of:000000000000000c,Port#:1,132,9181,6311853,238,46,0,0,0,...,0,0,True,0,9,767,688,-1,TCP-SYN,Attack
1,of:000000000000000c,Port#:2,187,6304498,15713,171,46,0,0,0,...,0,0,True,0,9,767,688,-1,TCP-SYN,Attack
2,of:000000000000000c,Port#:3,235,6311567,8030,58,46,0,0,0,...,0,0,True,0,9,767,688,-1,TCP-SYN,Attack
3,of:000000000000000c,Port#:4,59,7878,16439,182,46,0,0,0,...,0,0,True,0,9,767,688,-1,TCP-SYN,Attack
4,of:000000000000000a,Port#:1,188,6304547,16497,183,46,0,0,0,...,0,0,True,0,7,489,403,-1,TCP-SYN,Attack

In [3]:
data.shape

(37411, 34)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37411 entries, 0 to 37410
Data columns (total 34 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Switch ID                      37411 non-null  object
 1   Port Number                    37411 non-null  object
 2   Received Packets               37411 non-null  int64
 3   Received Bytes                 37411 non-null  int64
 4   Sent Bytes                     37411 non-null  int64
 5   Sent Packets                   37411 non-null  int64
 6   Port alive Duration (S)        37411 non-null  int64
 7   Packets Rx Dropped             37411 non-null  int64
 8   Packets Tx Dropped             37411 non-null  int64
 9   Packets Rx Errors              37411 non-null  int64
 10  Packets Tx Errors              37411 non-null  int64
 11  Delta Received Packets         37411 non-null  int64
 12  Delta Received Bytes           37411 non-null  int64
 13  Delta Sent Bytes               37411 non-null  int64
 14  Delta Sent Packets             37411 non-null  int64
 15  Delta Port alive Duration (S)  37411 non-null  int64
 16  Delta Packets Rx Dropped       37411 non-null  int64
 17   Delta Packets Tx Dropped      37411 non-null  int64
 18  Delta Packets Rx Errors        37411 non-null  int64
 19  Delta Packets Tx Errors        37411 non-null  int64
 20  Connection Point               37411 non-null  int64
 21  Total Load/Rate                37411 non-null  int64
 22  Total Load/Latest              37411 non-null  int64
 23  Unknown Load/Rate              37411 non-null  int64
 24  Unknown Load/Latest            37411 non-null  int64
 25  Latest bytes counter           37411 non-null  int64
 26  is_valid                       37411 non-null  bool
 27  Table ID                       37411 non-null  int64
 28  Active Flow Entries            37411 non-null  int64
 29  Packets Looked Up              37411 non-null  int64
 30  Packets Matched                37411 non-null  int64
 31  Max Size                       37411 non-null  int64
 32  Label                          37411 non-null  object
 33  Binary Label                   37411 non-null  object
dtypes: bool(1), int64(29), object(4)
memory usage: 9.5+ MB

# Preparing the data

In [ ]:
X = df.drop('variety',axis=1).values
y = df['variety'].values